# BigBelly Boston data preparation for visualization

I will be using Bigbelly sensor [dataset](https://data.cityofboston.gov/City-Services/Big-Belly-Alerts-2014/vwyk-mq9z ) to create a visualization dashboard in d3.js.

In [1]:
import pandas as pd
import datetime
import numpy as np

## Import data and parse dates

In [5]:
datetimeParser = lambda x: datetime.datetime.strptime(x, '%m/%d/%y %H:%M')
df = pd.read_csv('../../data/Big_Belly_Alerts_2014.csv', parse_dates=['timestamp'], 
                 date_parser=datetimeParser)

In [6]:
df.tail()

,description,timestamp,fullness,collection,Latitude,Longitude
51435,Cambridge and Blosom St (Au Bon Pain),2014-12-31 21:38:00,YELLOW,False,42.361276,-71.066578
51436,1309 Boylston Street,2014-12-31 22:57:00,YELLOW,False,42.344205,-71.099219
51437,74 Berklee,2014-12-31 23:32:00,RED,False,42.344300,-71.067000
51438,Commons: East of Frog Pond,2014-12-31 23:50:00,YELLOW,False,42.356053,-71.064870
51439,Tremont 30th and Avery St (Loews Theatre),2014-12-31 23:55:00,RED,False,42.353287,-71.064182

Add 'dayofweek' and 'month' column.

In [11]:
dayOfWeekParser = lambda x: x.weekday()
monthParser = lambda x: x.month
df['dayofweek'] = df['timestamp'].map(dayOfWeekParser)
df['month'] = df['timestamp'].map(monthParser)

In [12]:
df.head()

,description,timestamp,fullness,collection,Latitude,Longitude,dayofweek,month
0,Atlantic & Milk,2014-01-01 00:41:00,YELLOW,False,42.358701,-71.051439,2,1
1,1330 Boylston @ Jersey Street,2014-01-01 01:19:00,YELLOW,False,42.344566,-71.097831,2,1
2,SE Brookline & Newbury (opp Popeyes chicken),2014-01-01 01:32:00,YELLOW,False,42.348182,-71.097445,2,1
3,SE Brookline & Newbury (opp Popeyes chicken),2014-01-01 01:34:00,RED,False,42.348182,-71.097445,2,1
4,Huntington and Dartmouth St (Library),2014-01-01 02:10:00,GREEN,True,42.349327,-71.077018,2,1

In [32]:
# Group by day of week
dfGroupedByDay = df.groupby('dayofweek')

In [33]:
# Get alert counts by day
fullnessByDay = dfGroupedByDay['fullness'].value_counts().unstack().fillna(0.)

In [24]:
# Group by month and get alert counts by month
dfGroupedByMonth = df.groupby('month')
fullnessByMonth = dfGroupedByMonth['fullness'].value_counts().unstack().fillna(0.)

In [25]:
fullnessByMonth.head()

       GREEN  YELLOW  RED
month
1       1246    1109  532
2       1047     925  485
3       1529    1291  533
4       1722    1463  612
5       2036    1811  624

In [27]:
# Get trash collection count by day
collByDay = dfGroupedByDay['collection'].value_counts().unstack().fillna(0.)

In [28]:
collByDay.head()

           False  True
dayofweek
0           3780   4624
1           3727   3242
2           3861   3448
3           3676   3212
4           4279   3395

In [29]:
# Get trash collection count by month
collByMonth = dfGroupedByMonth['collection'].value_counts().unstack().fillna(0.)

In [30]:
collByMonth.head()

       False  True
month
1       1600   1287
2       1382   1075
3       1836   1517
4       2089   1708
5       2428   2043

In [31]:
# Save the derived data to csv files
fullnessByDay.to_csv('../data/alertsByDay.csv', index=False)
fullnessByMonth.to_csv('../data/alertsByMonth.csv', index=False)
collByMonth.to_csv('../data/collByMonth.csv', index=False)
collByDay.to_csv('../data/collByDay.csv', index=False)